@font-face {
font-family: basictitlefont ; 
src: url("../rsc/fonts/basictitlefont.ttf");
}

* {
	padding: 0;
	margin: 0;
	font-size: 1em;
	text-decoration: none;
}

body {
	background-image: url("../rsc/img/background.png") ;
}

/* Navbar */
.navbar {
	margin: 0 auto;
	width: 80%;

	font-family: basictitlefont;
	text-align: center;
}

.navbar ul {
	display: table;
	width: 100%;
}

.navbar ul li {
	display: table-cell;
	width: 20%;
	padding: 0 2px;
}

.navbar ul li a {
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;

	background-color: #3a3737 ;
	color: white;
	font-size: 1.4em;
	font-weight: bold;
	text-transform: uppercase;

	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
			transition: all 0.5s ease;
}

.navbar ul li a:hover {
	display: block;
	padding-top: 30px;
	padding-bottom: 40px;

	background: -webkit-linear-gradient(top, #FA6900 0%, #F88D41 100%); /* For Safari 5.1 to 6.0 */
    background: -moz-linear-gradient(bottom, #FA6900 0%, #F88D41 100%); /* For Firefox 3.6 to 15 */
    background:   -o-linear-gradient(bottom, #FA6900 0%, #F88D41 100%); /* For Opera 11.1 to 12.0 */
    background:   linear-gradient(to right bottom, #FA6900 0%, #F88D41 100%); /* Standard syntax */	
	color: black;
}

.navbar ul li a.active {
	display: block;
	padding-top: 30px;
	padding-bottom: 60px;

	background : -webkit-linear-gradient(top, #FA6900 0%, #F88D41 100%); /* For Safari 5.1 to 6.0 */
    background : -moz-linear-gradient(bottom, #FA6900 0%, #F88D41 100%); /* For Firefox 3.6 to 15 */
    background :   -o-linear-gradient(bottom, #FA6900 0%, #F88D41 100%); /* For Opera 11.1 to 12.0 */
    background :   linear-gradient(to right bottom, #FA6900 0%, #F88D41 100%); /* Standard syntax */
	color: black;
}